.navegacionBar {
  background-color: #f8f9fa;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cuadroSesssion {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  background-color: blue;
  align-items: center;
  padding: 0 14px;
  border-radius: 0 0 0 14px;
}

.bgAzulCopec {
  background-color: #2C69AA;
}

.bgAzulOscuroCopec {
  background-color: #003965 !important;
}

.borderAzulOscuro {
  border-color: #003965 !important;
}

.txtAzulOscuro {
  color: #003965 !important;
}

.cuadroIcono {
  padding: 6px 12px 10px 12px;
  border-radius: 10px;
}

.cuadroCargo {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.usuarioAdmin {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.cargoUsuarioAdmin {
  font-size: 13px;
}

.lineaVertical,
.lineaVerticalFooter {
  width: 3px;
  background-color: #FFF;
  height: 42px;
  margin: 0 0 0 12px;
  border-radius: 1px;
}

.btnDropdown {
  display: flex !important;
  align-items: center;
  height: 40px;
  margin-left: 12px;
}

.border10px {
  border-radius: 10px !important;
  border-width: 0 !important;
}

.tresPuntos {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contLogoCopecRojo {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.barraLateral {
  background-color: #F2F5F7;
  height: calc(100vh - 60px);
  width: 240px;
}

.contenedorAplicacion {
  width: calc(100vw - 240px);
  height: calc(100vh - 60px);
}

.loginLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  min-height: 600px;
}

.loginContainer {
  height: 523px;
  min-width: 330px;
  width: 450px;
  background-color: #FFF;
  border-radius: 30px;
  border: dashed 3px;
}

.sombra {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.inputText {
  height: 48px;
  border-radius: 24px;
  padding: 0 15px;
  background-color: #F2F5F7;
  color: #FFF;
  width: auto;
  border-width: 0;
  color: #003965 !important;
  outline-width: 0;
  font-weight: 600;
}

.inputText:focus {
  border: solid 2px #003965 !important;
}

.formLogin {
  height: 250px;
  margin-top: 34px;
  padding: 0 60px;
}

.inputText:focus {
  background-color: #2c69aa10;
}

.btnCopec {
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  display: flex;
  height: 48px;
  width: 200px;
  font-weight: 700;
  align-self: center;
}

.lblInput {
  font-weight: 600;
  font-size: 15px;
}

.footerContainer {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxFooter {
  margin-left: 16px;
}

.lblDerechos {
  color: #8CA6BC;
}

.linkTerminos,
.separador,
.txtIniciarSesion {
  font-weight: 700;
}
.txtIniciarSesion{
  font-size: 28px;
}

.separador {
  margin: 0 5px;
}

.headerContLoginForm {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}