@media (max-width:600px) {
  .formLogin {
    padding: 0 30px;
  }

  .lineaVertical {
    display: none;
  }

  .cuadroSesssion {
    width: 100%;
    border-radius: 0;
    justify-content: space-between;
  }

  .navegacionBar {
    justify-content: flex-end;
    padding-left: 0;
  }

  .navegacionBar>.contLogoCopecRojo {
    display: none;
  }

  .usuarioAdmin,
  .cargoUsuarioAdmin {
    max-width: 200px;
  }

  .copecLogoBlanco {
    display: none;
  }
}

@media(max-width:1200px) {

  .boxFooter span,
  .boxFooter label {
    font-size: 12px !important;
    line-height: 14px;
  }

  .boxFooter {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    text-align: center;
    height: 78px;
  }

  .footerContainer {
    flex-direction: column;
  }

  .lineaVerticalFooter {
    display: none;
  }
}

@media (max-width:700px) {
  .loginLayout {
    height: 100vh;
  }
}